

<%= form_tag({controller: "open_library", action: "show"}, method: "get",  id: "book_form") do %>
  <%= text_field_tag(:isbn) %>
  <%= submit_tag("Search Book") %>
<% end %>

<form action="/" method="GET">
  <input type="text">
  <button type="submit">Enviar</button>
</form>

<script>
  $("#book_form").submit(function(e){
    e.preventDefault();
    alert("Intentando enviar el form...");
  });
</script>
